@import "scss/mixins.scss";
@import "scss/_variables.scss";

.commentWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: $Aria;
    &:hover {
        .removeButton {
            display: block;
        }
    }
    .removeButton {
        position: absolute;
        display: none;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        &:hover {
            cursor: pointer;
            background: $Hydrargyrum;
        }
    }
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    .author {
        display: flex;
        align-items: center;
        color: $Hydrargyrum;
        height: 30px;
        margin-bottom: 20px;
        border-bottom: solid 1px $Hydrargyrum;
        .fullName {
            font-size: 20px;
            margin-right: 15px;
            height: 100%;
        }
        .userName {
            color: $Maximum_blue_green;
            height: 30px;
            line-height: 30px;
        }
    }
    .main {
        margin-bottom: 20px;
    }
    .likesWrapper {
        display: flex;
        .likeIcon {
            width: 18px;
            height: 20px;
            @include flex-center;
            margin-left: 5px;
        }
    }
}
