@import "scss/_variables.scss";
@import "scss/mixins.scss";

.comments {
    width: 100%;
    background: $White_smoke;
    @include flex-center;
    .addCommentBlock {
        width: 35%;
        position: relative;
    }

    .commentsBlock {
        width: 65%;
        @include flex-center;
        min-height: 100vh;
    }
}
